$theme-color: #0a3b4a; // azul petróleo
// Fundo geral do site
body {
  background-color: #0a3b4a !important;
  color: #ffffff;
}

// Header
#sidebar, .site-header {
  background-color: #0a3b4a !important;
}

// Links no modo claro
a {
  color: #ffffff;
}

a:hover {
  color: #d4e8ef;
}
